.header__lang-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.17;
}

.header__lang-link:first-child {
    margin-right: 18px;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.11;
    }
}