.lead__title {
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    max-width: 720px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 500px;
        font-size: 60px;
    }
}

@media screen and (max-width: 520px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 110%;
    }
}