.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    text-align: center;
    margin: 0 0 32px;
    z-index: 1;
}

@media screen and (max-width: 760px) {
    .cover__title {
        max-width: 340px;
        font-size: 46px;
        line-height: 1.09;
    }
}

@media screen and (max-width: 420px) {
    .cover__title {
        max-width: 240px;
        font-size: 32px;
        margin-bottom: 16px;
    }
}