.place {
    display: grid;
    grid-template-columns: 0.96fr 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
}

.place:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
    }
}

@media screen and (max-width: 620px) {
    .place {
        grid-template-columns: 1fr;
        row-gap: 28px;
    }
}